/* Will be compiled down to a single stylesheet with your sass files */
html {
/* 	height: 100%;  */
}

body {
  padding-top: 60px;
  padding-bottom: 40px;
/*   height: 100%;  */
}
.sidebar-nav {
  padding: 9px 0;
}
@media (max-width: 980px) {
  /* Enable use of floated navbar text */
  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }
}

button.close:hover {
  color: red;
}
button.close:disabled {
  opacity: 0;
}

.entity-criterion h3 {
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0px;
}

.entity-criterion .no-criteria-msg {
  text-align: center;
}

.entity-criterion .form-inline {
  margin-top: 8px;
}

.main-search-top-bar .main-search-button {
  margin-left: 3em;
  margin-right: 1em;
}

.main-search .messages {
  margin: 10px 50px;
}

.doc-type {
  display:inline-block;
  padding: 3px 3px 3px 8px;
  margin: 5px 5px;
  background-color: rgba(159, 239, 226, 0.35);
  border: 2px solid #777777;
  border-radius: 4px;
}

.doc-type .close {
  padding-left: 5px;
}

.mkt-cat {
  display:inline-block;
  padding: 3px 3px 3px 8px;
  margin: 5px 5px;
  background-color: #efe6a8;
  border: 2px solid #777777;
  border-radius: 4px;
}

.mkt-cat .close {
  padding-left: 5px;
}

.dedup-checkbox-group{
  display:inline-block;
  padding: 3px 3px 3px 8px;
  margin: 5px 5px;
  background-color: rgba(239, 129, 73, 0.18);
  border: 1px solid #777777;
  border-radius: 3px;

}

.route-of-admin {
  display:inline-block;
  padding: 3px 3px 3px 8px;
  margin: 5px 5px;
  background-color: rgba(140, 119, 239, 0.19);
  border: 2px solid #777777;
  border-radius: 4px;
}

.route-of-admin .close {
  padding-left:5px;
}

.dosage-form {
  display:inline-block;
  padding: 3px 3px 3px 8px;
  margin: 5px 5px;
  background-color: rgba(239, 94, 63, 0.19);
  border: 2px solid #777777;
  border-radius: 4px;
}

.dosage-form .close {
  padding-left:5px;
}

/* Meddra term widgets */

.meddra-term {
  display:inline-block;
  padding: 3px 3px 3px 8px;
  margin: 5px 5px;
  background-color: #efefef;
  border: 2px solid #777777;
  border-radius: 4px;
}

.meddra-term .close {
  padding-left:5px;
}

.meddra-term-type-label {
  background:#0e90d2;
  color:white;
  font-weight: bolder;
  margin-left: 8px;
  padding:2px 4px;
  border-radius: 3px;
}

/* pharm class widgets */

.pharm-class {
  display:inline-block;
  padding: 3px 3px 3px 8px;
  margin: 5px 5px;
  border: 2px solid #777777;
  border-radius: 4px;
}
.pharm-class-type-MoA {
  background-color: moccasin;
  padding: 2px;
  border-radius: 3px;
}
.pharm-class-type-PE {
  background-color: lightsteelblue;
  padding: 2px;
  border-radius: 3px;
}
.pharm-class-type-CI {
  background-color: #d3d3d3;
  padding: 2px;
  border-radius: 3px;
}
.pharm-class-type-EPC {
  background-color: rgba(47, 84, 53, 0.20);
  padding: 2px;
  border-radius: 3px;
}
.pharm-class .close {
  padding-left:5px;
}


.pharm-class-type {
  margin-left: 3em;
}
.pharm-class-type select {
  width: 23em;
  margin-left: 1em;
}
.pharm-class-typeahead {
  width: 40em;
}

.typeahead.dropdown-menu {
  min-width: 400px;
}

.preformatted-message {
  white-space: pre;
}

.product-name-type-label {
  background: #64ba86;
  color:white;
  font-weight: bolder;
  margin-left: 8px;
  padding:2px 4px;
  border-radius: 3px;
}

/* Search criteria */

.entity-criterion {
  padding: 8px 16px;
  margin: 16px 16px;
  background-color: #f5f5f5;
  border-color: #d7e1e6;
  border-radius: 16px;
  border-width: 4px;
  border-style: solid;
  position: relative;
}

.group-criterion {
  padding: 16px;
  margin: 8px;
  background-color: #f1f4fd;
  border-color: #dbe2e7;
  border-radius: 16px;
  border-width: 4px;
  border-style: solid;
  position: relative;
}

.group-criterion > .close, .entity-criterion > .close {
  position: absolute;
  top: 6px;
  right: 8px;
}

.entity-criterion > .log-op {
  position: absolute;
  top: -32px;
  left: -43px;
}

.group-criterion > .log-op {
  position: absolute;
  top: -32px;
  left: -43px;
}

.chem-struct-crit-contents {
  display: table;
  height: 16em;
  width: 100%;
  table-layout: fixed;
}

.chem-struct-crit-contents .chem-struct-viewer {
  display: table-cell;
  height: 100%;
  width: 50%;
  padding: 5px 5px;
  border-radius: .5em;
  border: .1em solid #ccc;
}

.chem-struct-crit-contents .chem-struct-search-options {
  display: table-cell;
  vertical-align: middle;
  padding-left: 1em;
}


.chem-struct-crit-contents .similarity-criteria {
  margin-left: 5px;
  white-space: nowrap;
}

.chem-struct-crit-contents .chem-struct-search-options select {
  width: 10em;
}

.similarity-text {
  width: 3em;
}

.spl-summary {
  padding: 8px 16px;
  margin: 50px 16px;
  background-color: #f5f5f5;
  border-color: #b0c9e6;
  border-radius: 16px;
  border-width: 4px;
  border-style: solid;
  position: relative;
}
.spl-summary .spl-product-names {
  position: relative;
  top: -20px;
  text-align: center;
  background:#0e90d2;
  color:white;
  font-weight: bolder;
  margin-left: 8px;
  padding:2px 4px;
  border-style: solid;
  border-width: 3px;
  border-color: #35569C;
  border-radius: 7px;
}
.spl-summary .spl-generic-names {
  padding:4px 4px;
  border-style: solid;
  border-color: green;
  border-width: 2px;
  border-radius: 3px;
  margin-bottom: 10px;
}
.spl-summary .spl-act-ingr-names {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  padding:2px 4px;
  border-radius: 3px;
  margin-bottom: 10px;
}

.spl-summary .spl-links {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.spl-summary .spl-links a {
  margin: 2px 5px;
}

.spl-summary .spl-links span {
  color: #6EBBCC;
  margin: 2px 0px;
}

.spl-summary .drugs-links a {
  
  margin: 0px 0px;
}
.query-results .view-style {
  margin-right: 25px;
}

.query-results .download-link {
  margin-right: 15px;
}

.query-results { 
/*  	height: 100%;  */
} 

table .spl-product-names {
/*   background: rgba(255, 216, 120, 0.20); */
  font-weight: bolder;
  font-size: 90%;
  word-break: break-all;
}
table .spl-generic-names {
  color: darkgreen;
  font-weight: bolder;
  font-size: 90%;
  word-break: break-all;
}
table .spl-act-ingr-names {
  font-weight: bolder;
  font-size: 90%;
  word-break: break-all;
}
table .spl-links {
  font-size: 90%;
  word-break: break-all;
}
table .spl-little {
  font-size: 90%;
  word-break: break-all;
}
table .spl-doc-type {
  font-size: 90%;
  word-break: break-all;
}

.market-status-criterion form > div {
  display: inline-block;
}
.market-status-criterion input {
  margin-right: 10px;
  width: 95px;
}
.market-status-criterion select {
  margin-right: 15px;
  width: 120px;
}
.market-status-criterion .start-bounds {
  background-color: rgba(203, 213, 218, 0.49);
  padding: 10px;
  margin: 10px 50px;
  border-radius: 10px;
}
.market-status-criterion .end-bounds {
  background-color: rgba(203, 213, 218, 0.49);
  padding: 10px;
  margin: 10px 50px;
  border-radius: 10px;
}

select.blueSelect option[value*="1-"] {
  color:red;
}

/** Below are add by JY **/
/* Customize tooltip */
.tooltip-custom + .tooltip .tooltip-inner {
  font-weight: bold;
  font-size: 12px;
}

.tooltip-custom + .tooltip.top .tooltip-arrow {
}

/*
.tooltip-custom + .tooltip .tooltip-inner {
  color: #000000;
  font-weight: bold;
  font-size: 12px;
  background-color: rgb(50, 153, 183);
  border-color: rgb(215, 225, 230);
}

.tooltip-custom + .tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-color: rgb(50, 153, 183);
  border-width: 5px 5px 0;
}
*/

/* Customize labeling section colors */
.section-group optgroup:nth-of-type(1) {
  background-color: rgb(255, 255, 205);
}

.section-group optgroup:nth-of-type(2) {
  background-color: rgb(255, 255, 205);
}

.section-group optgroup:nth-of-type(3) {
  background-color: rgb(230, 245, 245);
}

.section-group optgroup:nth-of-type(4) {
  background-color: rgb(255, 230, 230);
}

/* Added by JY to style spl-summary table */
table .spl-th {
  word-break: normal; /*break-all;*/
  text-align: left;
  background-color: rgb(220, 230, 242);/*lightgray;  */
}

/* smart table style */
.e-table {
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  width: 2000px;
  max-width: 2000px;
  padding-right: 20px;
}

.c-table {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: -webkit-flex;
    display: flow-root; 
    display: -ms-flexbox;
    flex-direction: column; 
    align-items: stretch;
/*     height: 100%; 1000px; */
}

.c-table * {
    box-sizing: inherit;
    -moz-box-sizing: inherit;
}

.c-table thead {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: rgb(220, 230, 242); /*lightgray;*/
    border-width: 1px 1px 1px; 
    border-style: solid; 
    border-color: rgb(0, 112, 192);/*darkgray;*/
}

.c-table tbody {
    overflow-y: hidden;
    display: block;
    border-width: 0px 1px 1px; 
    border-style: solid; 
    border-color: rgb(142, 180, 227); /*lightgray;*/
/*     height: 100%;  */
}

.c-table tr {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.c-table thead, .c-table tfoot {
    flex-shrink: 0;
}

.c-table th, .c-table tbody td {
    width: 20%; /* this can vary */
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.c-table tfoot {
    display: block;
    text-align:center;
}

.c-table tfoot td {
    width: 100%;
    display: inline-block;
}

.c-table th:hover {
  cursor: pointer;
}

.table-striped tbody tr:hover td,
.table-striped tbody tr:hover th {
  background-color: #ecf3f8;
}

/* table { */
/*     box-sizing: border-box; */
/*     -moz-box-sizing: border-box; */
/*     display: flex; */
/*     flex-direction: column; */
/*     align-items: stretch; */
/*     height: 500px; *//* this can vary */
/* } */

/* table * { */
/*     box-sizing: inherit; */
/*     -moz-box-sizing: inherit; */
/* } */

/* thead { */
/*     display: flex; */
/*     flex-direction: column; */
/*     align-items: stretch; */
/* } */

/* tbody { */
/*     overflow-y: scroll; */
/*     display: inline-block; */
/* } */

/* thead > tr, tbody > tr, tfoot > tr { */
/*     display: flex; */
/*     flex-direction: row; */
/*     flex-wrap: nowrap; */
/* } */

/* thead, tfoot { */
/*     flex-shrink: 0; */
/* } */

/* th, tbody td { */
/*     width: 20%; this can vary */
/*     overflow-x: hidden; */
/*     text-overflow: ellipsis; */
/*     display: inline-block; */
/* } */

/* tfoot { */
/*     display: inline-block; */
/* } */

/* tfoot td { */
/*     width: 100%; */
/*     display: inline-block; */
/* } */

.st-sort-ascent:before {
    content: '\25B2';
}

.st-sort-descent:before {
    content: '\25BC';
}

.select-page {
  width: 50px;
  text-align: center;
}

.pagination-text-center {
  text-align: center !important;	
}

/* pagination related, copy from bootstrap 3.2.0 */
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
  cursor: pointer;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #428bca;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #2a6496;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #428bca;
  border-color: #428bca;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.pager {
  padding-left: 0;
  margin: 20px 0;
  text-align: center;
  list-style: none;
}
.pager li {
  display: inline;
}
.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
}
.pager li > a:hover,
.pager li > a:focus {
  text-decoration: none;
  background-color: #eee;
}
.pager .next > a,
.pager .next > span {
  float: right;
}
.pager .previous > a,
.pager .previous > span {
  float: left;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
}


.pagination li a input {
  padding: 0;
  margin: -5px 0;
}


/* TODO
.spl-set-id

.main-search
.query-results
.add-criteria-buttons-panel
*/
