/* Addendums added to the original stylesheet by the application. */

.search-term {
  background-color: yellow;
  border: 1px solid blue;
  padding: 0px 1px;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 0px 2px rgb(0, 0, 0);
}

.search-term.highlight-disabled {
  background-color: transparent;
  border: 1px solid grey;
  box-shadow: 0px 0px 2px rgb(0, 0, 0);
}

