<div id="ctrl-el-{{editorId()}}" data-ng-controller="ChemicalStructureCriterionCtrl">

   <h3>Chemical Structure</h3>

   <div class="chem-struct-crit-contents">

      <div class="JSDraw chem-struct-viewer" id="{{editorId()}}"
           viewonly="true" popup="true" biology="false" query="false" rxn="false"
           dataformat="molfile" ondatachange="molChanged" data="{{criterion.acceptedMol}}">
      </div>

      <div class="chem-struct-search-options">
         as
         <select data-ng-model="criterion.structureSearchType"
                 data-ng-options="searchType for searchType in structureSearchTypeOptions"
                 data-ng-disabled="editingDisabled">
         </select>
         match

         <span class="similarity-criteria" data-ng-show="criterion.structureSearchType == 'similarity'"> with similarity &ge;
            <input class="similarity-text" type="text" ng-model="criterion.minimumSimilarity" ng-pattern="/^(0|0.0+|1|1.0+|0.[0-9]+)$/">
         </span>
         <span class="text-error" data-ng-show="criterion.structureSearchType == 'similarity' && !criterion.minimumSimilarity">(invalid number)</span>
      </div>
      <!--
      <div class="chem-struct-search-options">
         Ingredient type &nbsp;&nbsp;
           <select data-ng-model="criterion.ingredientTypes"
           data-ng-options = "it.value as it.displayAs for it in ingredientTypes"
           data-gn-disabled = "editingDisabled" class = "span3">
       </select>
      </div>
      -->
   </div>

   <!--Accepted mol: {{criterion.acceptedMol}}-->
   <!-- TODO: Add similarity bounds panel and multiple-SMILES entry.
   <span class="similarity-bounds-panel" @if(selectedStructureSearchTypeValue(crit.structureSearch) != "SimilaritySearch"){style="display:none;"}>
      <span class="similarity-ge-op">&ge;</span>
      <input type="text" class="number" name="similarity-lower-bound" value="@similarityLowerBound(crit.structureSearch).getOrElse("0.")">
   </span>

   <br>
   <button class="smiles-entry-btn btn btn-link">enter smiles</button>
   -->

</div>

