<div data-ng-controller="ContactCtrl">
   <h3 class="text-center">Contact Information</h3>
   <p>
   <b>Questions, Suggestions or get Assistance:</b>
   <a href="mailto:hong.fang@fda.hhs.gov">Dr. Hong Fang (870-543-7538 or hong.fang@fda.hhs.gov)</a>
   </p>
   <br>
   <p>
   <b>Report Technical Problems:</b>
   <A HREF="mailto:NCTRBioinformaticsSupport@fda.hhs.gov">
   NCTRBioinformaticsSupport@fda.hhs.gov</A> or 
   <a href="mailto:stephen.harris@fda.hhs.gov">Steve Harris (stephen.harris@fda.hhs.gov)</a>
   </p>
   <br><hr><hr>   
</div>
