<div>
  <div data-ng-show="mainView">
   <div data-ng-repeat="groupCriterion in combinedCriterion.criteria" class="group-criterion">

      <!-- entity criteria wrapper panels -->
      <div data-ng-repeat="entityCriterion in groupCriterion.criteria" class="entity-criterion">

         <!-- the entity criterion panel -->
         <div data-entity-criterion
              data-ng-model="entityCriterion"
              data-editing-disabled="editingDisabled"
              data-main-view="mainView" data-ldt-view="ldtView">
         </div>

         <!-- logical operator between entity criteria -->
         <button class="log-op btn btn-link btn-large"                   
                   data-ng-click="toggleLogOpInGroupBeforeEntityAt($parent.$index, $index)"
                   data-ng-hide="$first"
                   data-ng-disabled="criterionOpDisabled">{{logOpDisplayText(logOpInGroupBeforeEntityAt($parent.$index, $index))}}
         </button>

         <!-- entity criterion close button -->
         <button class="close btn btn-large pull-right"
                 data-ng-click="removeEntityCriterionInGroupAt($parent.$index, $index)"
                 data-ng-show="!editingDisabled">×</button>
      </div>

      <!-- link-buttons for adding additional criteria -->
      <div class="add-criteria-buttons-panel" data-ng-show="!editingDisabled">
            <strong>Add more criteria: &nbsp;</strong>
            <span data-ng-repeat="criterionType in addableEntityCriterionTypes">
               <button class="btn btn-link"
                       data-ng-click="newEntityCriterionInGroupOfType($parent.$index, criterionType)">
                  {{criterionTypeName(criterionType)}}
               </button>
               <span data-ng-hide="$last">|</span>
            </span>
      </div>

      <!-- logical operator between group criteria -->
      <button class="log-op btn btn-link btn-large"
              data-ng-click="toggleLogOpBeforeGroupAt($index)"
              data-ng-hide="$first"
              data-ng-disabled="editingDisabled">{{logOpDisplayText(logOpBeforeGroupAt($index))}}
      </button>

      <!-- group criterion close button -->
      <button class="close btn btn-large pull-right"
              data-ng-click="removeGroupCriterionAt($index)"
              data-ng-show="!editingDisabled">×</button>
   </div>

   <button class="btn btn-link"
           data-ng-click="newGroupCriterion()"
           data-ng-show="!editingDisabled">
      <strong>Add New Group of Criteria</strong>
   </button>
  </div>

  <div data-ng-show="ldtView">
   <div data-ng-repeat="groupCriterion in combinedCriterion.criteria" class="group-criterion">

      <!-- entity criteria wrapper panels -->
      <div data-ng-repeat="entityCriterion in groupCriterion.criteria" class="entity-criterion">

         <!-- the entity criterion panel -->
         <div data-entity-criterion
              data-ng-model="entityCriterion"
              data-editing-disabled="editingDisabled"
              data-main-view="mainView" data-ldt-view="ldtView">
         </div>

         <!-- logical operator between entity criteria -->
         <span class="log-op btn-large"
                 data-ng-hide="$first">{{logOpDisplayText('a')}}
         </span>

         <!-- entity criterion close button -->
         <button class="close btn btn-large pull-right"
                 data-ng-click="removeEntityCriterionInGroupAt($parent.$index, $index)"
                 data-ng-show="!editingDisabled">×</button>
      </div>

      <!-- link-buttons for adding additional criteria -->
      <div class="add-criteria-buttons-panel" data-ng-show="!editingDisabled">
            <strong>Add more criteria: &nbsp;</strong>
            <span data-ng-repeat="criterionType in addableEntityCriterionTypes">
               <button class="btn btn-link"
                       data-ng-click="newEntityCriterionInGroupOfType($parent.$index, criterionType)">
                  {{criterionTypeName(criterionType)}}
               </button>
               <span data-ng-hide="$last">|</span>
            </span>
      </div>

      <!-- logical operator between group criteria -->
      <span class="log-op btn-large"
              data-ng-hide="$first"
              data-ng-disabled="editingDisabled">{{logOpDisplayText(logOpBeforeGroupAt($index))}}
      </span>

      <!-- group criterion close button -->
      <button class="close btn btn-large pull-right"
              data-ng-click="removeGroupCriterionAt($index)"
              data-ng-show="!editingDisabled">×</button>
   </div>

   <button class="btn btn-link"
           data-ng-click="newGroupCriterion()"
           data-ng-show="!editingDisabled">
      <strong>Add New Group of Criteria</strong>
   </button>
  </div>

</div>

