<div class="text-center" ng-controller="DatabaseUpdatesCtrl">
<div data-ng-show="mainView">
  <h3>FDALabel Updates</h3>
  <p data-ng-model="verFdalabel">
    FDALabel Version {{verFdalabel}} Updated October 31, 2017
  </p>
</div>
<div data-ng-show="ldtView">
  <h3>FDALabel Updates</h3>
  <p data-ng-model="verFdalabel">
    FDALabel CDER-CBER Version {{verFdalabel}} Updated October 31, 2017
  </p>
</div>
</div>
<div class="page-header">
  <h4>Database Updates and Statistics</h4>
</div>
<div class="container" ng-controller="DatabaseUpdatesCtrl">
  <section id="data-Maintain">
    <div class="tabgroup" align="center" width="90%">
      <div data-ng-show="mainView" class="col-lg-6 col-sm-12 code" align="center">
        <tabset>
          <tab heading="Database Updates" align="center" border="5px solid">
            <div>
              <h4>Most Recent SPL Updates from DailyMed</h4>
              <table border="1" cellspacing="5" width="90%">
                <thead>
                  <th>Date<br>(YYYY/MM/DD)</th>
                  <th data-ng-model="verFdalabel">Total Number of SPL Files in FDALabel Version {{verFdalabel}} Database</th>
                </thead>
                <tr data-ng-repeat="record in recentFiveSplDataLoaderRecords">
                  <td align="center">{{ record.loaddate | date:'yyyy/MM/dd'}}</td>
                  <td align="center">{{ record.total | number:0}}</td>
                </tr>
              </table>
            </div>
          </tab> 
          <tab heading="Dictionary Updates" align="center" border="1">
            <div>
              <h4>Log of Dictionary Updates</h4>
              <table border="1" cellspacing="5" width="90%">
                <thead>
                  <th>Date</th>
                  <th>Contents</th>
                </thead>
                <tr data-ng-repeat="record in recentDictMaintanceRecords">
                  <td align="center">{{ record.maindate | date:'yyyy/MM/dd' }}
                  </td>
                  <td align="center">{{ record.contents }}</td>
                </tr>
              </table>
            </div>
          </tab> 
        </tabset>
      </div>
      <div data-ng-show="ldtView" class="col-lg-6 col-sm-12 code" align="center">
        <div>
          <h4>Most Recent SPL Updates from DailyMed</h4>
          <table border="1" cellspacing="5" width="90%">
            <thead>
              <th>Date<br>(YYYY/MM/DD)</th>
              <th data-ng-model="verFdalabel">Total Number of SPL Files in FDALabel CDER-CBER Version {{verFdalabel}} Database</th>
            </thead>
            <tr data-ng-repeat="record in recentFiveSplDataLoaderRecords">
              <td align="center">{{ record.loaddate | date:'yyyy/MM/dd' }}</td>
              <td align="center">{{ record.total | number:0 }}</td>
            </tr>
          </table>
        </div>
      </div>
      <!--        <h3>         </h3>
        <div class="col-lg-6 col-sm-12" id="line-chart" >
          <div class="panel panel-default" border="1">
            <div class="panel-heading" align="center"> <h4> The Chart of DataBase Statistics</h4> </div>
            <div class="panel-body" width="85%">
              <canvas id="line" class="chart chart-line" data="data" labels="labels" series="series"
                      options="options" legend="false"></canvas>
            </div>
          </div>
        </div>
        <pre>Note:The counts of altered SPL are multiplicated 10 in order to make a suitable presentation of data alteration. So the number of altered SPL(added,resurrected,removed,updated) needs to be divided by 10 while the mouse floating on the chart.
        </pre> -->
    </div>
  </section>
</div>
