<div data-ng-controller="DisclaimerCtrl">
   <h3 class="text-left">FDALabel Disclaimer:</h3>
   <p>
   The source of FDALabel’s data is FDA’s Structured Product Labeling (SPL) archive of the most recent labeling documents submitted by companies. The SPL documents found on FDALabel are also found on <a href="https://dailymed.nlm.nih.gov/dailymed/"><i>DailyMed</i></a> and <a href="https://labels.fda.gov/"><i>FDA Online Label Repository</i></a>. The labeling in the SPL documents may not be identical to the most recent FDA-approved labeling available at <a href="https://www.accessdata.fda.gov/scripts/cder/daf/index.cfm"><i>Drugs@FDA</i></a> and the contents of the SPL documents (including data element entries in the SPL files) have not been verified by FDA. For example:
   <ul>
     <li>The dosage form(s) listed in the output page are derived from the Data Standards Manual (DSM) terminology and may not be consistent with United States Pharmacopeia (USP) terminology or dosage forms terminology used in FDA-approved labeling.
     <li>The marketing date(s) listed may not always accurately represent the date that the product was first marketed.
     <li>Compared with the most recent FDA-approved labeling, the SPL document may contain minor changes (e.g., editorial changes such as adding a distributor’s name) or moderate changes (e.g., added or strengthened warning or adverse reaction) that are undergoing FDA review.
   </ul>
   </p>
   <p>
   For information regarding types of changes to labeling that may cause the SPL document to differ from the most recent FDA-approved labeling, see 21 CFR 314.70 and the <a href="https://www.fda.gov/ucm/groups/fdagov-public/@fdagov-drugs-gen/documents/document/ucm077097.pdf"><i>Guidance for Industry: Changes to an Approved NDA or ANDA</i></a>.
   </p>
   <p>
   Because the SPL documents on FDALabel may not be identical to the most recent FDA-approved labeling, visit the following sites for the most recent FDA-approved labeling:
   <ul>
     <li><a href="https://www.accessdata.fda.gov/scripts/cder/daf/index.cfm"><i>Drugs@FDA</i></a> for human prescription drug and biological products and for over-the-counter (OTC) drugs approved under an NDA or ANDA;
     <li><a href="https://www.fda.gov/biologicsBloodVaccines/ucm121134.htm"><i>Biologics Products & Establishments</i></a> for human blood, vaccine, allergenic, or cellular/tissue products.
   </ul>
   </p>
   <p>
   Many OTC drugs are not reviewed and approved by the FDA (e.g., drugs marketed under a final monograph or a tentative final monograph); however, these OTC drugs may be marketed if they comply with applicable monographs. The labeling for drugs marked "OTC monograph final" or "OTC monograph not final" in FDALabel are not checked for conformance to the monograph.      
   </p>
   <hr><hr>
</div>
