<div data-ng-controller="DocumentTypeCriterionCtrl">
   <button class='btn btn-link pull-right'
           data-ng-click="removeAll()"
           data-ng-show="criterion.documentTypeCodes.length > 0 && !editingDisabled"><i class="icon-trash"></i> clear</button>
   <h3>Labeling Types</h3>

   <div data-ng-show="criterion.documentTypeCodes.length === 0" class="no-criteria-msg"> </div>

   <!-- selected document types -->
   <div data-ng-repeat="mktCatCode in criterion.documentTypeCodes" class="doc-type">
      {{documentTypeDisplayName(mktCatCode)}}
      <button class="close btn btn-link pull-right" data-ng-click="removeDocumentTypeAt($index)" data-ng-show="!editingDisabled">×</button>
   </div>

   <div data-ng-show="!editingDisabled">
      <form class="form-inline">
         <div data-ng-show="mainView"><p>Choose one or more:
            <button tooltip="{{ labelingCountByType('50578-4') }}" class="tooltip-custom btn btn-link" ng-click="addDocumentType('50578-4')" data-ng-disabled="editingDisabled">
               Animal Rx
            </button>
            <button tooltip="{{ labelingCountByType('50577-6') }}" class="tooltip-custom btn btn-link" ng-click="addDocumentType('50577-6')" data-ng-disabled="editingDisabled">
               Animal OTC 
            </button>
            <button tooltip="{{ labelingCountByType('34391-3') }}" class="tooltip-custom btn btn-link" ng-click="addDocumentType('34391-3')" data-ng-disabled="editingDisabled">
               Human Rx
            </button>
            <button tooltip="{{ labelingCountByType('34390-5') }}" class="tooltip-custom btn btn-link" ng-click="addDocumentType('34390-5')" data-ng-disabled="editingDisabled">
               Human OTC
            </button>
            <button tooltip="{{ labelingCountByType('55439-4') }}" class="tooltip-custom btn btn-link" ng-click="addDocumentType('55439-4')" data-ng-disabled="editingDisabled">
               Medical Device
            </button>
            <button tooltip="{{ labelingCountByType('69404-2') }}" class="tooltip-custom btn btn-link" ng-click="addDocumentType('69404-2')" data-ng-disabled="editingDisabled">
               Medical Device Rx
            </button>
            <button tooltip="{{ labelingCountByType('53404-0') }}" class="tooltip-custom btn btn-link" ng-click="addDocumentType('53404-0')" data-ng-disabled="editingDisabled">
               Vaccine
            </button>
         </p> </div>
        <div data-ng-show="ldtView"><p>Choose one or more:
            <button tooltip="{{ labelingCountByType('1=*') }}" class="tooltip-custom btn btn-link" ng-click="addDocumentType('1=*')" data-ng-disabled="editingDisabled">
               Human Prescription Drug and Biological Products – PLR Format
            </button>
            <button tooltip="{{ labelingCountByType('2=*') }}" class="tooltip-custom btn btn-link" ng-click="addDocumentType('2=*')" data-ng-disabled="editingDisabled">
               Human Prescription Drug and Biological Products – Non-PLR Format
            </button>
            <button tooltip="{{ labelingCountByType('3=34390-5') }}" class="tooltip-custom btn btn-link" ng-click="addDocumentType('3=34390-5')" data-ng-disabled="editingDisabled">
               Human OTC Drugs
            </button> 
         </p></div>
      </form>
      <!-- Remove select list for LDT version, use mouse over tooltip instead. -->
      <div data-ng-show="mainView" class="row-fluid text-left">
         or choose one or more from the list:
         <select class="span6"
                 data-ng-model="selectedOtherDocumentTypeCode"
                 data-ng-options="doct.code as displayDocumentType(doct) for doct in documentTypeChoices"
                 data-ng-disabled="editingDisabled">
         </select>
      </div>
   </div>
</div>
