<div data-ng-controller="DosageFormCriterionCtrl">
   <button class='btn btn-link pull-right'
           data-ng-click="removeAll()"
           data-ng-show="criterion.dosageFormCodes.length > 0 && !editingDisabled"><i class="icon-trash"></i> clear</button>
   <h3>Dosage Forms</h3>

   <p>Return labels for products having one of the following dosage forms:</p>

   <div class="no-criteria-msg" data-ng-show="criterion.dosageFormCodes.length === 0">( No dosage form requirement. )</div>

   <!-- selected dosage forms -->
   <div data-ng-repeat="code in criterion.dosageFormCodes" class="dosage-form">
      {{dosageFormDisplayName(code)}}
      <button class="close btn btn-link pull-right" data-ng-click="removeDosageFormAt($index)" data-ng-show="!editingDisabled">×</button>
   </div>

   <div data-ng-show="!editingDisabled">
      <form class="form-inline form-search">
         Select one or more general dosage forms (each will add multiples specific forms):<br>
         <button class="btn btn-link" ng-click="addDosageFormWithSubtypes('AEROSOL')" data-ng-disabled="editingDisabled">
            aerosols
         </button>
         <button class="btn btn-link" ng-click="addDosageFormWithSubtypes('CAPSULE')" data-ng-disabled="editingDisabled">
            capsules
         </button>
         <button class="btn btn-link" ng-click="addDosageFormWithSubtypes('FILM')" data-ng-disabled="editingDisabled">
            films
         </button>
         <button class="btn btn-link" ng-click="addDosageFormWithSubtypes('GEL')" data-ng-disabled="editingDisabled">
            gels
         </button>
         <button class="btn btn-link" ng-click="addDosageFormWithSubtypes('GRANULE')" data-ng-disabled="editingDisabled">
            granules
         </button>
         <button class="btn btn-link" ng-click="addDosageFormWithSubtypes('INJECTION')" data-ng-disabled="editingDisabled">
            injections
         </button>
         <button class="btn btn-link" ng-click="addDosageFormWithSubtypes('PATCH')" data-ng-disabled="editingDisabled">
            patches
         </button>
         <button class="btn btn-link" ng-click="addDosageFormWithSubtypes('POWDER')" data-ng-disabled="editingDisabled">
            powders
         </button>
         <button class="btn btn-link" ng-click="addDosageFormWithSubtypes('SOLUTION')" data-ng-disabled="editingDisabled">
            solutions
         </button>
         <button class="btn btn-link" ng-click="addDosageFormWithSubtypes('SUPPOSITORY')" data-ng-disabled="editingDisabled">
            suppositories
         </button>
         <button class="btn btn-link" ng-click="addDosageFormWithSubtypes('TABLET')" data-ng-disabled="editingDisabled">
            tablets
         </button>
      </form>

      <div class="row-fluid text-center">
         or choose specific forms from the full list:
         <select class="span7"
                 data-ng-model="selectedOtherDosageFormCode"
                 data-ng-options="r.code as r.displayName for r in dosageFormChoices"
                 data-ng-disabled="editingDisabled">
         </select>
      </div>
   </div>
</div>
