<div data-ng-controller="FDALabelLinksCtrl">
   <h3 class="text-center">FDALabel Project Homepage:</h3>
   <p class="text-center">
   <a href="http://www.fda.gov/ScienceResearch/BioinformaticsTools/ucm289739.htm">http://www.fda.gov/ScienceResearch/BioinformaticsTools/ucm289739.htm</a>
   </p>
   <br><br>

   <h3 class="text-center">Access FDALabel database using different versions and links:</h3>
   <ul style="list-style-type:disc">
     <li>
       <b>NCTR Webpage (FDA internal)</b> <br>
       <a href="http://inside.fda.gov:9003/NCTR/ucm369107.htm">http://inside.fda.gov:9003/NCTR/ucm369107.htm</a>
     </li>
     <li>
       <b>Version 1.0 (FDA internal)</b> <br>
       <a href="http://ncsvmweb01.nctr.fda.gov/druglabel">http://ncsvmweb01.nctr.fda.gov/druglabel</a>
     </li>
     <li>
       <b>Test version 2.0 (FDA internal)</b> <br>
       <a href="http://ncsvmweb01.nctr.fda.gov:8000/fdalabel/ui/#/search">http://ncsvmweb01.nctr.fda.gov:8000/fdalabel/ui/#/search</a>
     </li>
     <li>
       <b>SEALD Link(FDA internal)</b> <br>
       <a href="http://ncsvmweb01.nctr.fda.gov/fdalabel_seald/ui/#/search">http://ncsvmweb01.nctr.fda.gov/fdalabel_seald/ui/#/search</a>
     </li>
     <li>
       <b>Customized MedDRA Link(FDA internal)</b> <br>
       <a href="http://ncsvmweb01.nctr.fda.gov/fdalabel_meddra/ui/#/search">http://ncsvmweb01.nctr.fda.gov/fdalabel_meddra/ui/#/search</a>
     </li>
     <li>
       <b>Public version 1.0</b> <br>
       <a href="https://rm2.scinet.fda.gov/druglabel/#simsearch-0">https://rm2.scinet.fda.gov/druglabel/#simsearch-0</a>
     </li>
   </ul>

   <br><hr><hr>

</div>
