<div data-ng-controller="IdentifierCriterionCtrl">
   <button class='btn btn-link pull-right'
           data-ng-click="removeAll()"
           data-ng-show="criterion.identifiers.length > 0 && !editingDisabled"><i class="icon-trash"></i> clear</button>
   <h3>Labeling, Product and Ingredient Identifiers</h3>

   <form class="form-inline form-search">
       <textarea type="text" placeholder="Enter one or more identifiers (separate with a space, comma, semicolon, or colon)" class="input-medium search-query span8"
         data-ng-model="criterion.identifiers"
         data-ng-disabled="editingDisabled"></textarea>
       
       <p style="margin-top: 5px;" data-ng-show="true">
       &nbsp;&nbsp; Ingredient type (UNII) &nbsp;
       <select data-ng-model="criterion.ingredientTypes"
           data-ng-options = "it.value as it.displayAs for it in ingredientTypes"
           data-gn-disabled = "editingDisabled"
           class = "span3"
           >
       </select>
       </p>
        <table data-ng-show="!editingDisabled && mainView">
          <tr valign='top'>
            <td>Search for:
              <ul>
                <li><strong>Application Number</strong> (e.g., ANDA077844, BLA125118, NDA020977)</li>
                <li><strong>DEA Schedule</strong> (e.g., CII, CIII, CIV, CV)</li>
                <li><strong>NDC Number</strong> (e.g., 0378-4105, 49702-221, 60505-3583)</li>
                <li><strong>SET ID:</strong> (e.g., ca73b519-015a-436d-aa3c-af53492825a1)</li>
                <li><strong>Unique Ingredient Identifier (UNII):</strong> To search for active ingredients, inactive ingredients or both, type in <a href="https://fdasis.nlm.nih.gov/srs/srs.jsp" target="_blank">alphanumeric code(s)</a></li>
              </ul>
            </td>
          </tr>
        </table>
        <table data-ng-show="!editingDisabled && ldtView">
          <tr valign='top'>
            <td>Search for:
              <ul>
                  <li><strong>Application Number</strong> (e.g., ANDA012345, BLA123456, NDA012345) <br>
                  <ul>
                    <li>Include application type followed by application number (no spaces between these items), application number must contain six digits
                    </li>
                  </ul>
                </li>
                <li><strong>DEA Schedule</strong> (e.g., CII, CIII, CIV, CV)</li>				
                <li><strong>NDC Number</strong> (e.g., 1234-5678, 12345-678, 12345-6789)<br>
                  <ul>
                    <li>Include the labeler code and product code separated by a dash (first two NDC segments) 
                    </li>
                    <li>Package code (third NDC segment) is not required (it will be ignored if included)
                    </li>
                  </ul>
                </li>
                <li><strong>SET ID:</strong> Labeling alphanumeric code (e.g., 0836c6ac-ee37-5640-2fed-a3185a0b16en)</li>
			    <li><strong>Unique Ingredient Identifier (UNII):</strong> To search for active ingredients, inactive ingredients or both, type in the <a href="https://fdasis.nlm.nih.gov/srs/srs.jsp" target="_blank">alphanumeric code(s)</a> for the ingredient(s) and select ingredient type from the dropdown menu
				</li>     
              </ul>
            </td>
          </tr>
        </table>
   </form>
</div>
