<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
   <title>FDALabel Redirect - Prod</title>
   <meta name="description" content="FDALabel, NCTR Drug Label Search Application">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="author" content="stephen.harris@fda.hhs.gov">

   <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

   <!-- build:css styles/main.css -->
   <link rel="stylesheet" href="components/ngDialog/css/ngDialog.css">
   <link rel="stylesheet" href="components/ngDialog/css/ngDialog-theme-default.css">
   <link rel="stylesheet" href="components/ngDialog/css/ngDialog-theme-plain.css">
   <link rel="stylesheet" href="styles/bootstrap.css">
   <link rel="stylesheet" href="styles/bootstrap-responsive.css">
   <link rel="stylesheet" href="styles/main.css">
   <!-- endbuild -->

   <!--[if lt IE 7]>
   <p class="chromeframe">You are using an outdated browser which cannot reasonably be supported. Sorry!</p>
   <![endif]-->
   <!--[if lt IE 9]>
   <script src="components/es5-shim/es5-shim.min.js"></script>
   <script src="components/html5shiv/dist/html5shiv.js"></script>
   <script src="components/json3/lib/json3.min.js"></script>
   <![endif]-->

   <script src="components/angular/angular.min.js"></script>
   <script src="components/angular-resource/angular-resource.min.js"></script>
   <script src="components/angular-sanitize/angular-sanitize.min.js"></script>
   <script src="components/angular-route/angular-route.min.js"></script>
   <script src="components/angular-cookies/angular-cookies.min.js"></script>
   <script src="components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
   <script src="components/underscore/underscore-min.js"></script>
   <!-- build:js scripts/scripts.js -->
   <script src="scripts/app-redirect.js"></script>
   <!-- script src="scripts/services/sub-app.js"></script -->
   <script src="scripts/controllers/redirect.js"></script>
   <script src="scripts/controllers/about.js"></script>
   <script src="scripts/controllers/contact.js"></script>
   <script src="scripts/controllers/home.js"></script>
   <script src="scripts/controllers/disclaimer.js"></script>
   <script src="scripts/controllers/databaseUpdates.js"></script>

   <!-- endbuild -->

</head>
<body id="ng-app" data-ng-app="FDALabelApp" onload=""> <!-- Garbage id and class are for IE < 8. -->

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="navbar-inner">
         <div class="container-fluid">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>
            <div class="brand">FDALabel</div>
            <!-- <a class="brand" href="#fdalabel-links"  target="_blank" data-ng-click="goFDALabelLinks()">FDALabel</a> -->
            <div class="nav-collapse collapse">
               <ul class="nav navbar-nav">
                  <li><a ng-href="{{}}">Home</a></li>
                  <li><a ng-href="{{}}">About</a></li>
                  <li><a ng-href="{{}}">Database Updates</a></li>
		  <li><a ng-href="{{}}">Disclaimer</a></li>
                  <li><a ng-href="{{}}">Contact</a></li>
               </ul>
            </div><!--/.nav-collapse -->
         </div>
      </div>
   </div>

   <div class="container-fluid">
      <div class="row-fluid">

        <div class="span12" data-ng-view></div>

      </div>
   </div>


   <!-- Google Analytics: change UA-XXXXX-X to be your site's ID.
   <script>
     var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
     (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
     g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
     s.parentNode.insertBefore(g,s)}(document,'script'));
   </script>
   -->

</body>
</html>
