<div class="main-search" data-ng-controller="MainSearchCtrl">

   <button class="btn btn-info"
           data-ng-click="editQuery()"
           data-ng-show="editingDisabled"><i class="icon-edit icon-white"></i> Edit Query</button>

   <div class="row main-search-top-bar">
      <button class="btn btn-info btn-large main-search-button pull-right"
              data-ng-click="doSearch()"
              data-ng-show="!editingDisabled">Search »</button>
      <button class="btn btn-link pull-right" data-ng-click="clearQueryCriteria()" data-ng-show="!editingDisabled">Clear All</button>
      <button class="btn btn-link pull-right" data-ng-click="revertToLastQueryCriteria()" data-ng-show="!editingDisabled">Restore Last Query</button>
      <span class="clearfix"></span>
   </div>

   <img ng-src="img/ajax-loader.gif" data-ng-show="resultsLoading">

   <!-- top messages view -->
   <div class="messages">
      <div data-alert data-ng-repeat="msg in messages" type="msg.type" data-close="removeMessage($index)">
         <span data-ng-class="msg.classes">{{msg.text}}</span>
      </div>
   </div>

   <div data-criterion-editor data-ng-model="query.criterion" data-addable-entity-criterion-types="addableEntityCriterionTypes"
        data-editing-disabled="editingDisabled" data-main-view="mainView" data-ldt-view="ldtView"></div>

   <hr/>

   <div class="row main-search-top-bar">
      <button class="btn btn-info btn-large main-search-button pull-right"
              data-ng-click="doSearch()"
              data-ng-show="!editingDisabled">Search »</button>
      <button class="btn btn-link pull-right" data-ng-click="clearQueryCriteria()" data-ng-show="!editingDisabled">Clear All</button>
      <button class="btn btn-link pull-right" data-ng-click="revertToLastQueryCriteria()" data-ng-show="!editingDisabled">Restore Last Query</button>
      <span class="clearfix"></span>
   </div>
  <!--
   <div class="text-center">
      <button class="btn btn-info btn-large"
              data-ng-click="doSearch()"
              data-ng-show="!editingDisabled">Search »</button>
   </div>
    -->
   <button class="btn btn-info"
           data-ng-click="editQuery()"
           data-ng-show="editingDisabled"><i class="icon-edit icon-white"></i> Edit Query</button>

   <img ng-src="img/ajax-loader.gif" data-ng-show="resultsLoading">

   <hr/>

   <!--<pre>[Debug] {{ query | json }}</pre>-->

</div>
