<div class="market-status-criterion" data-ng-controller="MarketStatusCriterionCtrl">
   <button class='btn btn-link pull-right'
           data-ng-click="removeAll()"
           data-ng-show="(criterion.status.length > 0 || criterion.startMin || criterion.startMax || criterion.endMin || criterion.endMax) && !editingDisabled"><i class="icon-trash"></i> clear</button>
   <h3>Market Status</h3>

   <form>
      <div>
         <label>Status
            <select data-ng-model="criterion.status"
                    data-ng-options="nt for nt in statusChoices"
                    data-ng-disabled="editingDisabled">
            </select>
         </label>
      </div>
      <div class="start-bounds">
         <label>Start Date, Min
            <i class="icon-calendar"></i>
            <input type="text" ng-model="criterion.startMin" datepicker-popup="{{dateFormat}}" datepicker-options="dateOptions"/>
         </label>
         <label>Start Date, Max
            <i class="icon-calendar"></i>
            <input type="text" datepicker-popup="{{dateFormat}}" ng-model="criterion.startMax"/>
         </label>
      </div>
      <div class="end-bounds" data-ng-show="criterion.status != 'active'">
         <label>End Date, Min
            <i class="icon-calendar"></i>
            <input type="text" datepicker-popup="{{dateFormat}}" ng-model="criterion.endMin"/>
         </label>
         <label>End Date, Max
            <i class="icon-calendar"></i>
            <input type="text" datepicker-popup="{{dateFormat}}" ng-model="criterion.endMax"/>
         </label>
      </div>
   </form>

</div>
