<div data-ng-controller="MarketingCategoryCriterionCtrl">
   <button class='btn btn-link pull-right'
           data-ng-click="removeAll()"
           data-ng-show="(criterion.marketingCategoryCodes.length > 0 || criterion.repacker || criterion.authorizedGeneric) && !editingDisabled"><i class="icon-trash"></i> clear</button>
   <h3>Application Types or Marketing Categories</h3>

   <!--<p>Require labels to have products approved in one or more of the following marketing categories:</p>
-->
   <div class="no-criteria-msg" data-ng-show="criterion.marketingCategoryCodes.length === 0"> </div> 

   <!-- selected marketing category -->
   <div data-ng-repeat="catCode in criterion.marketingCategoryCodes" class="mkt-cat">
      {{marketingCategoryDisplayName(catCode)}}
      <button class="close btn btn-link pull-right" data-ng-click="removeMarketingCategoryAt($index)" data-ng-disabled="editingDisabled">×</button>
   </div>

   <div data-ng-show="!editingDisabled">
      <form class="form-inline form-search">
         <p>Choose one or more:
            <button tooltip="{{ labelingCountByCategory('C73584') }}" class="tooltip-custom btn btn-link" ng-click="addMarketingCategory('C73584')" data-ng-disabled="editingDisabled">
               ANDA
            </button>
            <button tooltip="{{ labelingCountByCategory('C73585') }}" class="tooltip-custom btn btn-link" ng-click="addMarketingCategory('C73585')" data-ng-disabled="editingDisabled">
               BLA
            </button>
            <button tooltip="{{ labelingCountByCategory('C73594') }}" class="tooltip-custom btn btn-link" ng-click="addMarketingCategory('C73594')" data-ng-disabled="editingDisabled">
               NDA
            </button>
            <button tooltip="{{ labelingCountByCategory('C73603') }}" class="tooltip-custom btn btn-link" ng-click="addMarketingCategory('C73603')" data-ng-disabled="editingDisabled">
              OTC Monograph Final
            </button>
            <button tooltip="{{ labelingCountByCategory('C73604') }}" class="tooltip-custom btn btn-link" ng-click="addMarketingCategory('C73604')" data-ng-disabled="editingDisabled">
               OTC Monograph Not Final
            </button>
         </p>
      </form>

      <div data-ng-show="mainView" class="row-fluid text-left">
         or choose one or more from the list:
   <!--   <ui-select ng-model="selectedOtherMarketingCategoryCode" theme="selectize" ng-disabled="editingDisabled" style="min-width: 300px;">
    <ui-select-match placeholder="Select or search a alternative in the list ...">{{$select.selected.displayName}}</ui-select-match>
    <ui-select-choices repeat="mc in marketingCategoryChoices | filter: $select.search">
      <span ng-bind-html="mc.dipalyName | highlight: $select.search"></span>
      <small> &nbsp;( <span ng-bind-html="mc.count  | highlight: $select.search"> </span> &nbsp;labeling)     </small>
    </ui-select-choices>
  </ui-select>-->
     <select class="span7" style="min-height: 30px;"
                 data-ng-model="selectedOtherMarketingCategoryCode"
                 data-ng-options="mc.code as displayMaketType(mc) for mc in marketingCategoryChoices"
                 data-ng-disabled="editingDisabled">
         </select> 
      </div>
   </div>
   <div data-ng-show="ldtView">
      <form class="form-inline form-search">
        <p>Check one or more deduplication option(s):
          <span class="dedup-checkbox-group">
            <label class="checkbox"><!-- for="repacker"> -->
              <input type="checkbox" value="repacker" ng-model="criterion.repacker" name="group-one" /> <!-- id="repacker" /> -->
                Remove Repacker, Relabeler, and Redistributor Labeling
            </label>
          </span>
          <span class="dedup-checkbox-group">
            <label class="checkbox"><!-- for="authorizedGeneric"> -->
              <input type="checkbox" value="authorizedGeneric" ng-model="criterion.authorizedGeneric" name="group-one" /> <!-- id="authorizedGeneric" /> -->
                Remove NDA Authorized Generic Labeling
            </label>
          </span>
        </p>
      </form>
   </div>
</div>

