<div ng-controller="MeddraCriterionCtrl">

   <button class='btn btn-link pull-right'
           data-ng-click="removeAllTerms()"
           data-ng-show="criterion.terms.length > 0 && !editingDisabled"><i class="icon-trash"></i> clear terms</button>

   <h3>MedDRA Terms</h3>

   <!--<p>Require one or more of these Meddra terms to occur textually in labels:</p> -->

   <div class="no-criteria-msg" data-ng-show="criterion.terms.length === 0"> </div>

   <!-- selected terms -->
   <div data-ng-repeat="termInfo in criterion.terms"
        class="meddra-term"
        title="&quot;{{termInfo.term}}&quot;, {{ termTypeFullName(termInfo) }}">

      <button class="close btn btn-link pull-right" data-ng-click="removeTerm($index)" data-ng-show="!editingDisabled">×</button>

      <!-- term drop down menu -->
      <span class="dropdown">
         <a href="" class="dropdown-toggle" data-ng-disabled="editingDisabled">{{termInfo.term}}</a>
         <ul class="dropdown-menu" data-ng-show="!editingDisabled">
            <li data-ng-repeat="menuItem in termActions(termInfo)">
               <a data-ng-click="menuItem.action(termInfo)">{{menuItem.text}}</a>
            </li>
         </ul>
      </span>

      <span data-ng-show="termInfo.isPt" class="meddra-term-type-label">PT</span>
   </div>

   <form class="form-inline">
      <input type="text" placeholder="Begin entering part(s) of a MedDRA term, then select from suggestions that appear" class="input-medium search-query span7"
             data-ng-model="enteredTerm"
             data-typeahead="termInfo for termInfo in termsMatching($viewValue)"
             data-typeahead-template-url="views/typeahead-matched-meddra-term.html"
             data-typeahead-editable="false"
             data-typeahead-min-length=3
             data-typeahead-wait-ms="250"
             data-ng-show="!editingDisabled">
      <!-- term search/selection options -->
      <label data-ng-show="!editingDisabled">
         <input type="checkbox" data-ng-model="preferredTermsOnly">
         list preferred terms only
      </label>
      <label data-ng-show="!editingDisabled">
         <input type="checkbox" data-ng-model="includeUnlabeled">
         list terms not appearing in any labels
      </label>
   </form>

   <!-- messages -->
   <div data-ng-show="!editingDisabled">
      <div data-alert data-ng-repeat="msg in messages" type="msg.type" data-close="removeMessage($index)">
         <span data-ng-class="msg.classes">{{msg.text}}</span>
      </div>
   </div>


</div>
