<div ng-controller="PharmClassCriterionCtrl">

   <button class='btn btn-link pull-right'
           data-ng-click="removeAllPharmClasses()"
           data-ng-show="criterion.pharmClasses.length > 0 && !editingDisabled"><i class="icon-trash"></i> clear</button>

   <h3>Pharmacologic Class(es)</h3>

   <!-- <p>Require labels to be associated with one or more of the following pharmacological classes:</p> 
-->
   <div class="no-criteria-msg" data-ng-show="criterion.pharmClasses.length === 0"> </div> 

   <!-- selected pharm classes -->
   <div data-ng-repeat="classInfo in criterion.pharmClasses"
        class="pharm-class pharm-class-type-{{classInfo.classType}}"
        title="&quot;{{classInfo.className}}&quot;, {{ (classInfo.classType) }}">

      <button class="close btn btn-link pull-right" data-ng-click="removePharmClassAt($index)" data-ng-show="!editingDisabled">×</button>

      <!-- pharm class drop down menu -->
      <span class="dropdown">
         <a href="" class="dropdown-toggle" data-ng-disabled="editingDisabled">{{classInfo.className}}</a>
         <ul class="dropdown-menu" data-ng-show="!editingDisabled">
            <li data-ng-repeat="menuItem in pharmClassActions(classInfo)">
               <a data-ng-click="menuItem.action(classInfo)">{{menuItem.text}}</a>
            </li>
         </ul>
      </span>
   </div>

   <form class="form-inline form-search">
      <input type="text" placeholder="Begin entering part(s) of a class name, then select from suggestions that appear"
             data-ng-model="enteredPharmClass"
             data-typeahead="classInfo for classInfo in pharmClassesMatching($viewValue)"
             data-typeahead-template-url="views/typeahead-matched-pharm-class.html"
             data-typeahead-editable="false"
             data-typeahead-min-length=3
             data-typeahead-wait-ms="250"
             data-ng-show="!editingDisabled"
             class="pharm-class-typeahead input-medium search-query">

      <label class="pharm-class-type" data-ng-show="!editingDisabled">
         of type
         <select data-ng-model="typeaheadPharmClassType"
                 data-ng-options="pctype.value as pctype.displayAs for pctype in typeaheadPharmClassTypes"
                 data-ng-disabled="editingDisabled">
         </select>
      </label>
   </form>

</div>
