<div data-ng-controller="ProductCriterionCtrl">
   <button class='btn btn-link pull-right'
           data-ng-click="removeAll()"
           data-ng-show="criterion.namePattern.length > 0 && !editingDisabled"><i class="icon-trash"></i> clear</button>
   <h3>Product Name(s)</h3>

   <form class="form-inline form-search">

      <select data-ng-model="criterion.nameType"
              data-ng-options="nt.value as nt.displayAs for nt in nameTypes"
              data-ng-disabled="editingDisabled"
              class="span3">
      </select>

      <select data-ng-model="criterion.namePatternType"
              data-ng-options="pt.value as pt.displayAs for pt in namePatternTypes"
              data-ng-disabled="editingDisabled"
              class="span3">
      </select>

      <!-- product name typeahead input -->
      <input type="text" placeholder="{{namePatternInputPlaceholder(criterion.namePatternType)}}" class="input-medium search-query span6"
             data-ng-model="criterion.namePattern"
             data-typeahead="pnInfo.name for pnInfo in productNamesMatching($viewValue)"
             data-typeahead-template-url="views/typeahead-matched-prodname.html"
             data-typeahead-min-length=3
             data-typeahead-wait-ms="250"
             data-ng-disabled="editingDisabled">
   </form>

</div>
