<div class="text-center" ng-controller="RedirectCtrl">
   <h4>Click the link below to redirect to the production URL.</h4>
   <div data-ng-show="mainView" class="page-header">
  <!--   <a ng-href="{{getAboutURL()}}" target="_blank" ng-controller="AppAboutCtrl">About</a> 
   Hello {{name}}! -->
     <!-- <button ng-click='go2FDA()'>Go to FDA Version</button> -->
     <a ng-href="http://ncsvmlabelapp.fda.gov/fdalabel/ui">http://ncsvmlabelapp.fda.gov/fdalabel/ui</a>
   </div>
   <div data-ng-show="ldtView" class="page-header">
  <!--   <a ng-href="{{getAboutURL()}}" target="_blank" ng-controller="AppAboutCtrl">About</a>
   Hello {{name}}! -->
     <!-- <button ng-click='go2LDT()'>Go to CDER Version</button> -->
     <a ng-href="http://fdalabel.fda.gov/cder/ui">http://fdalabel.fda.gov/cder/ui</a>
   </div>
</div>
