<div data-ng-controller="RouteOfAdminCriterionCtrl">
   <button class='btn btn-link pull-right'
           data-ng-click="removeAll()"
           data-ng-show="criterion.routeOfAdminCodes.length > 0 && !editingDisabled"><i class="icon-trash"></i> clear</button>
   <h3>Routes of Administration</h3>

   <p>Return labels for products having one of the following routes of administration:</p>

   <div class="no-criteria-msg" data-ng-show="criterion.routeOfAdminCodes.length === 0">( No route of administration requirement )</div>

   <!-- selected route of admin -->
   <div data-ng-repeat="code in criterion.routeOfAdminCodes" class="route-of-admin">
      {{routeOfAdminDisplayName(code)}}
      <button class="close btn btn-link pull-right" data-ng-click="removeRouteOfAdminAt($index)" data-ng-show="!editingDisabled">×</button>
   </div>

   <div data-ng-show="!editingDisabled">
      <form class="form-inline form-search">
         <p>Select one or more routes of administration:
            <button class="btn btn-link" ng-click="addRouteOfAdmin('C38288')" data-ng-disabled="editingDisabled">
               ORAL
            </button>
            <button class="btn btn-link" ng-click="addRouteOfAdmin('C38304')" data-ng-disabled="editingDisabled">
               TOPICAL
            </button>
            <button class="btn btn-link" ng-click="addRouteOfAdmin('C38284')" data-ng-disabled="editingDisabled">
               NASAL
            </button>
            <button class="btn btn-link" ng-click="addRouteOfAdmin('C38276')" data-ng-disabled="editingDisabled">
               INTRAVENOUS
            </button>
         </p>
      </form>

      <div class="row-fluid text-center">
         or choose from the full list:
         <select class="span7"
                 data-ng-model="selectedOtherRouteOfAdminCode"
                 data-ng-options="r.code as r.displayName for r in routeOfAdminChoices"
                 data-ng-disabled="editingDisabled">
         </select>
      </div>
   </div>
</div>
