<div data-ng-controller="SectionCriterionCtrl">
   <button class='btn btn-link pull-right'
           data-ng-click="removeAll()"
           data-ng-show="criterion.sectionTypeCode.length > 0 && !editingDisabled"><i class="icon-trash"></i> clear</button>
   <h3>Labeling Section(s)</h3>


      <div data-ng-show="mainView" class="row-fluid">
        <form class="form-inline form-search" ng-submit="doFullTextSearch()">
        <input type="text" placeholder="Enter query terms" class="input-medium search-query span4"
               data-ng-model="criterion.textQuery"
               data-ng-disabled="editingDisabled">
        within
        <select class="span6"
                data-ng-model="criterion.sectionTypeCode"
                data-ng-options="sec.code as displaySectionAsTree(sec)  group by sec.typeformat for sec in sectionTypeChoices"
                data-ng-options-template-url="views/section-type-tree-class.html"
                data-ng-disabled="editingDisabled">
        </select>
        <p data-ng-show="!editingDisabled">The query may be empty to check for presence of a section</p>
        <p data-ng-show="!editingDisabled">Query syntax: use 'and' or 'or' between words if they are not required to occur contiguously</p>
        </form>
      </div>
      <div data-ng-show="ldtView" class="row-fluid">
        <form class="form-inline form-search" ng-submit="doFullTextSearch()">
        <input type="text" placeholder="Enter query terms" class="input-medium search-query span4"
               data-ng-model="criterion.textQuery"
               data-ng-disabled="editingDisabled">
        within
        <select class="span6 section-group"
                data-ng-model="criterion.sectionTypeCode"
                data-ng-options="sec.code as displaySectionAsTree(sec)  group by sec.typeformat for sec in sectionTypeChoices"
                data-ng-options-template-url="views/section-type-tree-class.html"
                data-ng-disabled="editingDisabled">
        </select>
        <p data-ng-show="!editingDisabled">The query may be empty to check for presence of a section</p>
        <p data-ng-show="!editingDisabled">Query syntax: use 'and' or 'or' between words if they are not required to occur contiguously</p>
        </form>
      </div>
 <!--
      <p data-ng-show="!editingDisabled">Quick pick list ( choose one ):
         <button class="btn btn-link" ng-click="selectSectionType('0-99999-2')" data-ng-disabled="editingDisabled">
            Product Title
         </button>
         <button class="btn btn-link" ng-click="selectSectionType('0-99999-1')" data-ng-disabled="editingDisabled">
            Initial U.S. Approval
         </button>
         <button class="btn btn-link" ng-click="selectSectionType('1-34066-1')" data-ng-disabled="editingDisabled">
            Boxed Warning
         </button>
         <button class="btn btn-link" ng-click="selectSectionType('1-34067-9')" data-ng-disabled="editingDisabled">
            Indications and Usage
         </button>
         <button class="btn btn-link" ng-click="selectSectionType('1-34068-7')" data-ng-disabled="editingDisabled">
            Dosage and Administration
         </button>
         <button class="btn btn-link" ng-click="selectSectionType('1-43678-2')" data-ng-disabled="editingDisabled">
            Dosage Forms and Strengths
         </button>
         <button class="btn btn-link" ng-click="selectSectionType('1-34070-3')" data-ng-disabled="editingDisabled">
            Contraindications
         </button>
         <button class="btn btn-link" ng-click="selectSectionType('1-43685-7')" data-ng-disabled="editingDisabled">
            Warnings and Precautions
         </button>
         <button class="btn btn-link" ng-click="selectSectionType('1-34084-4')" data-ng-disabled="editingDisabled">
            Adverse Reactions
         </button>
         <button class="btn btn-link" ng-click="selectSectionType('1-34073-7')" data-ng-disabled="editingDisabled">
           Drug Interactions
         </button>
         <button class="btn btn-link" ng-click="selectSectionType('1-43684-0')" data-ng-disabled="editingDisabled">
            Use in Specific Populations
         </button>


         <button class="btn btn-link" ng-click="selectSectionType('49489-8')" data-ng-disabled="editingDisabled">
            microbiology
         </button>
         <button class="btn btn-link" ng-click="selectSectionType('43683-2')" data-ng-disabled="editingDisabled">
            recent major changes
         </button> 
      </p> -->

</div>
