<a tabindex="-1">
   {{sectionType.displayName}}
   <span class="sec-type-{{sec.typeFormat}}"> {{sec.lev}} </span>
   <span>  ({{sectionType.count}} labels)</span>
</a>

<!-- 
<a tabindex="-1">
   {{sectionType.displayName}}
   <span class="pharm-class-type-{{sectionType.typeFormat}}"> {{sectionType.lev}} </span>
   <span>  ({{sectionType.count}} labels)</span>
</a>
-->