<div id='c' class="query-results span12" data-ng-controller="SplSummariesCtrl">
  <div class="row-fluid">
  <div class="text-center span12" data-ng-show="resultsLoading">
    <img ng-src="img/ajax-loader.gif">
  </div>
  </div>
  <div class="row-fluid">
    <div class="span4">
      <h4>{{ resultsHeaderText() }}</h4>
    </div>
    <div class="btn-group text-center span4">
        <label class="btn btn-info" ng-model="defaultView" btn-radio="true">Basic View</label>
        <label class="btn btn-info" ng-model="defaultView" btn-radio="false">Expanded View</label>
    </div>
    <div class="span4">
	    <div class="row-fluid">
	      <div class="text-right span6">
	        <a data-ng-href="{{ downloadUrl }}">Download Full Results</a>
	      </div>
	      <div class="span6">
	        <a data-ng-href="#{{ searchUrl }}">View Query (permanent link)</a>
	      </div>
	    </div>
    </div>
  </div>
<!--   <div class="row-fluid"> -->

  <!-- Basic Tabular View, Default View, formerly Long View -->
<!--   <div data-ng-show="defaultView" class="spl-summary-table table table-hover" style="margin: 5; padding: 5; border-collapse: collapse; width: 100%; height: 1000px; overflow: auto;"> -->
  <table data-ng-show="defaultView" st-safe-src="splSummaries" st-table="displaySplSummaries" class="c-table table table-striped">
    <thead>
      <tr data-ng-show="summarySortable">
        <th st-ratio="14" style="text-align: left" class="spl-th">Links</th>
        <th st-ratio="14" st-sort="marketCategories" st-skip-natural="true" style="text-align: left" class="spl-th">Marketing Category</th>
        <th st-ratio="16" st-sort="applicationNumber" st-skip-natural="true" style="text-align: left" class="spl-th">Application Number(s)</th>
        <th st-ratio="16" st-sort="productNames" st-skip-natural="true" style="text-align: left" class="spl-th">Trade Name</th>
        <th st-ratio="25" st-sort="genericProperNames" st-sort-default="true" st-skip-natural="true" style="text-align: left" class="spl-th">Generic/Proper Name(s)</th>
        <th st-ratio="15" st-sort="splEffDate" st-skip-natural="true" style="text-align: left" class="spl-th">Most Recent SPL Date (YYYY/MM/DD)</th>
      </tr>
      <tr data-ng-show="!summarySortable">
        <th st-ratio="14" style="text-align: left" class="spl-th">Links</th>
        <th st-ratio="14" style="text-align: left" class="spl-th">Marketing Category</th>
        <th st-ratio="16" style="text-align: left" class="spl-th">Application Number(s)</th>
        <th st-ratio="16" style="text-align: left" class="spl-th">Trade Name</th>
        <th st-ratio="25" style="text-align: left" class="spl-th">Generic/Proper Name(s)</th>
        <th st-ratio="15" style="text-align: left" class="spl-th">Most Recent SPL Date (YYYY/MM/DD)</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="splSummary in displaySplSummaries">
        <td st-ratio="14" class="spl-links" class="text-center">
          <a href="{{ splDocumentUrlForSetId(splSummary.setId) }}" target="_blank">SPL Document</a>
          <br>
          <a href="{{ dailymedSplHtmlUrlForSetId(splSummary.setId) }}" target="_blank"> DailyMed</a>
          (
          <a href="{{ dailymedSplPdfUrlForSetId(splSummary.setId) }}" target="_blank"> pdf</a>
          )
          <br>
          <div data-ng-show="humanDrug(splSummary.marketCategories)">
            <div  data-ng-show="drugsatFDAUrl(splSummary.applicationNumber).length>0">
              <cite>Drugs@FDA</cite> 
              <sup class="drugs-links" data-ng-repeat="url in drugsatFDAUrl(splSummary.applicationNumber)">
              <a href="{{ url.split('$$')[1] }}" target="_blank">{{url.split('$$')[0]}};</a>
              </sup>
            </div>
            <div  data-ng-show="orangeBookUrl(splSummary.marketCategories, splSummary.applicationNumber).length>0" >
              <cite>Orange Book</cite> 
              <sup class="drugs-links" data-ng-repeat="url1 in orangeBookUrl(splSummary.marketCategories, splSummary.applicationNumber)">
              <a href="{{ url1.split('$$')[1] }}" target="_blank">{{url1.split('$$')[0]}};</a>
              </sup>
            </div>
            </div>
            <div data-ng-show="!humanDrug(splSummary.marketCategories)">
            <div data-ng-show="AninmalDrugsatfdaUrl(splSummary.applicationNumber).length>0">
              <cite>Animal Drugs@FDA</cite> 
              <sup class="drugs-links" data-ng-repeat="url in AninmalDrugsatfdaUrl(splSummary.applicationNumber)">
              <a href="{{ url.split('$$')[1] }}" target="_blank">{{url.split('$$')[0]}};</a>
              </sup>
            </div>
          </div>
        </td>
        <td st-ratio="14" class="spl-little">{{ splSummary.marketCategories }}</td>
        <td st-ratio="16" class="spl-little">{{ splSummary.applicationNumber }}</td>
        <td st-ratio="16" class="spl-product-names">{{ splSummary.productNames }}</td>
        <td st-ratio="25" class="spl-generic-names">{{ splSummary.genericProperNames }}</td>
        <td st-ratio="15" class="spl-little">{{ dateToDisplay(splSummary.splEffDate) }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="6" class="pagination-text-center">
          <div st-items-by-page="200" st-pagination="" st-template="views/pagination.custom.html"></div>
        </td>
      </tr>
    </tfoot>
  </table>

  <!-- Expanded Tabular View -->
  <!-- <table data-ng-show="!defaultView" class="spl-summary-table table table-hover" > -->
  <table data-ng-show="!defaultView" st-safe-src="splSummaries" st-table="displaySplSummariesExp" class="c-table table table-striped e-table">
    <thead>
      <tr data-ng-show="summarySortable">
        <th st-ratio="7" class="spl-th">Links</th>
        <th st-ratio="6" st-sort="marketCategories" st-skip-natural="true" class="spl-th">Marketing Category</th>
        <th st-ratio="6" st-sort="applicationNumber" st-skip-natural="true" class="spl-th">Application Number(s)</th>
        <th st-ratio="7" st-sort="productNames" st-skip-natural="true" class="spl-th">Trade Name</th>
        <th st-ratio="11" st-sort="genericProperNames" st-sort-default="true" st-skip-natural="true" class="spl-th">Generic/Proper Name(s)</th>
        <th st-ratio="8" st-sort="splEffDate" st-skip-natural="true" class="spl-th">Most Recent SPL Date (YYYY/MM/DD)</th>
        <th st-ratio="12" st-sort="epc" st-skip-natural="true" class="spl-th">Established Pharmacologic Class(es)</th>
        <th st-ratio="5" st-sort="dosageForms" st-skip-natural="true" class="spl-th">Dosage Form(s)</th>
        <th st-ratio="6" st-sort="routesOfAdministration" st-skip-natural="true" class="spl-th">Route(s) of Administration</th>
        <th st-ratio="5" st-sort="year" st-skip-natural="true" class="spl-th">Initial U.S. Approval</th>
        <th st-ratio="6" st-sort="submitter" st-skip-natural="true" class="spl-th">Company</th>
        <th st-ratio="8" st-sort="marketDates" st-skip-natural="true" class="spl-th">Marketing Date(s) (YYYY/MM/DD)</th>
        <th st-ratio="6" st-sort="ndcCodes" st-skip-natural="true" class="spl-th">NDC(s)</th>
        <th st-ratio="7" st-sort="actIngrUniis" st-skip-natural="true" class="spl-th">Active Ingredient UNII(s)</th>
      </tr>
      <tr data-ng-show="!summarySortable">
        <th st-ratio="7" class="spl-th">Links</th>
        <th st-ratio="6" class="spl-th">Marketing Category</th>
        <th st-ratio="6" class="spl-th">Application Number(s)</th>
        <th st-ratio="7" class="spl-th">Trade Name</th>
        <th st-ratio="11" class="spl-th">Generic/Proper Name(s)</th>
        <th st-ratio="8" class="spl-th">Most Recent SPL Date (YYYY/MM/DD)</th>
        <th st-ratio="12" class="spl-th">Established Pharmacologic Class(es)</th>
        <th st-ratio="5" class="spl-th">Dosage Form(s)</th>
        <th st-ratio="6" class="spl-th">Route(s) of Administration</th>
        <th st-ratio="5" class="spl-th">Initial U.S. Approval</th>
        <th st-ratio="6" class="spl-th">Company</th>
        <th st-ratio="8" class="spl-th">Marketing Date(s) (YYYY/MM/DD)</th>
        <th st-ratio="6" class="spl-th">NDC(s)</th>
        <th st-ratio="7" class="spl-th">Active Ingredient UNII(s)</th>
      </tr>
    </thead>
    <tbody style="margin: 5; padding: 5; border-collapse: collapse;">
      <tr data-ng-repeat="splSummary in displaySplSummariesExp">
        <td st-ratio="7" class="spl-links" class="text-center">
          <a href="{{ splDocumentUrlForSetId(splSummary.setId) }}" target="_blank">SPL Document</a>
          <br>
          <a href="{{ dailymedSplHtmlUrlForSetId(splSummary.setId) }}" target="_blank"> DailyMed</a>
          (
          <a href="{{ dailymedSplPdfUrlForSetId(splSummary.setId) }}" target="_blank"> pdf</a>
          )
          <br>
          <div data-ng-show="humanDrug(splSummary.marketCategories)">
            <div data-ng-show="drugsatFDAUrl(splSummary.applicationNumber).length>0">
              <cite>Drugs@FDA</cite> 
              <sup class="drugs-links" data-ng-repeat="url in drugsatFDAUrl(splSummary.applicationNumber)">
              <a href="{{ url.split('$$')[1] }}" target="_blank">{{url.split('$$')[0]}};</a>
              </sup>
            </div>
            <div  data-ng-show="orangeBookUrl(splSummary.marketCategories, splSummary.applicationNumber).length>0" >
              <cite>Orange Book</cite> 
              <sup class="drugs-links" data-ng-repeat="url1 in orangeBookUrl(splSummary.marketCategories, splSummary.applicationNumber)">
                <a href="{{ url1.split('$$')[1] }}" target="_blank">{{url1.split('$$')[0]}};</a>
              </sup>
            </div>
          </div>
          <div data-ng-show="!humanDrug(splSummary.marketCategories)">
            <div  data-ng-show="AninmalDrugsatfdaUrl(splSummary.applicationNumber).length>0" >
              <cite>Animal Drugs@FDA</cite> 
              <sup class="drugs-links" data-ng-repeat="url in AninmalDrugsatfdaUrl(splSummary.applicationNumber)">
                <a href="{{ url.split('$$')[1] }}" target="_blank">{{url.split('$$')[0]}};</a>
              </sup>
            </div>
          </div>
        </td>
        <td st-ratio="6" class="spl-little">{{ splSummary.marketCategories }}</td>
        <td st-ratio="6" class="spl-little">{{ splSummary.applicationNumber }}</td>
        <td st-ratio="7" class="spl-product-names">{{ splSummary.productNames }}</td>
        <td st-ratio="11" class="spl-generic-names">{{ splSummary.genericProperNames }}</td>
        <td st-ratio="8" class="spl-little">{{ dateToDisplay(splSummary.splEffDate) }}</td>
        <td st-ratio="12" class="spl-little">{{ splSummary.epc }}  </td>
        <td st-ratio="5" class="spl-little">{{ splSummary.dosageForms }}</td>
        <td st-ratio="6" class="spl-little">{{ splSummary.routesOfAdministration}}</td>
        <td st-ratio="5" class="spl-little">{{ splSummary.year }}</td>
        <td st-ratio="6" class="spl-little">{{ splSummary.submitter }}</td>
        <td st-ratio="8" class="spl-little">{{ splSummary.marketDates }}</td>
        <td st-ratio="6" class="spl-little">{{ splSummary.ndcCodes}}</td>
        <td st-ratio="7" class="spl-little">{{ splSummary.actIngrUniis}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="6" class="pagination-text-center">
          <div st-items-by-page="200" st-pagination="" st-template="views/pagination.custom.html"></div>
        </td>
      </tr>
    </tfoot>
  </table>
    
<!--   </div> -->
  
</div>

