<div data-ng-controller="SplTextCriterionCtrl">
   <button class='btn btn-link pull-right'
           data-ng-click="removeAll()"
           data-ng-show="criterion.textQuery.length > 0 && !editingDisabled"><i class="icon-trash"></i> clear</button>
   <h3>Labeling Full Text Search</h3>

   <form class="form-inline form-search" ng-submit="doFullTextSearch()">

      <input type="text" placeholder="Enter full text query" class="input-medium search-query span8"
         data-ng-model="criterion.textQuery"
         data-ng-disabled="editingDisabled">

      <p data-ng-show="!editingDisabled">Query syntax: use 'and' or 'or' between words if they are not required to occur contiguously</p>

   </form>

</div>
